body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

th {
  font-weight: bold !important;
}

.podcaster-head{
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px;
}

.podcast-list-row{
  margin-top: 2em !important;
}

.podcast-list-col{
  display: contents;
}

.custom-card-image {
  border-radius: 50% !important;
  position: absolute;
  top: -2em;
  left: 26%;
  width: 120px !important;
  height: 120px !important;
}
.custom-card {
  height: auto;
  width: 250px;
  padding-top: 5em;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.inner-podcast-img{
  width: 150px !important;
  height: 150px !important;
  margin-bottom: 25px;
}

.episode-card{
  padding: 5px;
  margin-bottom: 15px;
}

.episode-card-list{
  /* max-height: 800px;
  overflow-y: scroll; */
}

.podcast-total-elements{
  font-weight: bold;
  font-size: larger;
}
